.root {
    -fx-background-color: #f5f7f9;
}

.primary-button {
    -fx-background-color: #087edb;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 7px;
}

.secondary-button {
    -fx-background-color: white;
    -fx-text-fill: #1e293b;
    -fx-border-color: #b9c6d3;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
}